.glass-info-holder {
    background: rgba(0, 0, 0, 0.123);

    box-shadow: 0px 0px 40px 10px #fa6f810a;
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
}
