.introPage {
  height: calc(100vh + 100px);
  width: 100%;

  background-color: var(--page-color);
  position: relative;
  z-index: 2;

  display: grid;
  place-content: center;

  font-size: 1.5rem;

  div {
    text-align: center;
  }
}

.light-theme {
  background-color: white;
}
