:root {
  --bg-color: #03030a;
  --cursor-color: #fff;
  --text-color: #fff;
  --cursor-color-on-moon: #ff846e;
  --page-color: #03030a;
  --wick-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  cursor: none;
  color: var(--text-color);
  overflow-x: hidden;

  /* font-size: 1.3rem; */
}

.page-title {
  font-size: 15rem;
}

.scroll-bar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.scroll-bar-hidden::-webkit-scrollbar {
  display: none;
}
