@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

:root {
  --bg-color: #03030a;
  --cursor-color: #fff;
  --text-color: #fff;
  --cursor-color-on-moon: #ff846e;
  --page-color: #03030a;
  --wick-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
}

html {
  cursor: none;
  color: var(--text-color);
  overflow-x: hidden;

  /* font-size: 1.2rem; */
}

.page-title {
  font-size: 15rem;
}

.scroll-bar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.scroll-bar-hidden::-webkit-scrollbar {
  display: none;
}

.default-page {
  background-color: var(--page-color);
  overflow-y: scroll;
  overflow-x: hidden;
}
